.container {
	min-height: 80vh;
    transition: all .7s ease;
    top: 20vh;
    /* transition: bottom 1s ease; */
}
.chatItemsWrapper {
    margin-top: 55px;
	max-height: calc(100% - 2rem);
}
.hideChatBar {
	top: calc(100vh - 3.5rem);
}
